* {
	font-family:Arial;
}

body{
    margin:0;
}

.animated 	{
  		text-align: center;
  		letter-spacing: 1px;
  		transition: letter-spacing 3s ease;		
}

@media only screen and (min-width: 1200px) {
  .animated:hover {
    transition: all 1s ease;
    letter-spacing: 3px;
    text-decoration: underline;
  }
}

.header {
  font-size: 64px;
  font-style: italic;
  padding-bottom: 2%;
}

.main{
	margin-top: 5%;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}

.namecard {
	margin-top: 50%;
	margin-left: 5%;
	color: #f2f2f2;
	font-style: italic;
	font-family: Verdana;
	font-size: 25px;
}

.namecardsub {
	margin-bottom: 20%;
	margin-left: 5%;
	color: #f2f2f2;
	font-style: italic;
	font-family: Verdana;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .namecard {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
    font-size: 80px;
  }
  .namecardsub {
    margin-left: 0%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
    font-size: 24px;
  }
}

/* Old sidebar
.sidebar {
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  width: 18%;
  height: 80%;
  background-color: #333;
  overflow: hidden;
}
*/

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* Style the links inside the navigation bar */
.sidebar a, ul {
  float: right;
  width: 100%;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: visible;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    position: static;
    margin: auto;
    width: 100%;
    padding-bottom: 2%;
    overflow: auto;
    margin-bottom: 2%;
  }
  .sidebar a, ul, li{
    float: none;
    /*display: inline; /*important*/
    font-size: 30px;
    float: center;
    text-align: center;
    padding: 4px 4px;

  }
  ul{
    width: 100%;
    display: block;
    justify-content: center;
  }
  .sidebar a {
    border-radius: 10px;
    white-space: nowrap;
  }
}

/* Change the color of links on hover */
.sidebar a:hover {
  background-color: #4a4a4a;
  /*color: black;*/
}

/* Add a color to the active/current link */
.sidebar a.active {
  background-color: #707070;
  color: white;
}

.midcol {
  float: left;
  width: 34.5%;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 1%;
}

.rightcol {
  float: left;
  width: 34.5%;
  margin-right: 5%;
}

@media only screen and (max-width: 1200px) {
  .midcol {
    margin-left: 5%;
    width: 44%;
    margin-right: 2%;
  }
  .rightcol {
    width: 44%;
  }
}

.col3-left {
  float: left;
  width: 23%;
  overflow: hidden;
  margin-left: 25%;
}

.col3-mid {
  float: left;
  width: 23%;
  overflow: hidden;
  margin-left: .5%;
  margin-right: .5%;
}

.col3-right {
  float: left;
  width: 23%;
  overflow: hidden;
  margin-right: 5%;
}

@media only screen and (max-width: 1200px) {
  .col3-left {
    margin-left: 5%;
    width: 29.33%;;
  }
  .col3-mid {
    width: 29.33%;;
    margin-left: 1%;
   margin-right: 1%;
  }
  .col3-right {
    width: 29.33%;;
  }
}

.col2left{
  float: left;
  width: 23%;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 5%;
}

.col2right {
  float: left;
  width: 42%;
  margin-right: 5%;
  overflow-wrap: break-word;
}

.aboutcard {
  font-size: 14px;
  padding-top: 5%;
}

@media only screen and (max-width: 1200px) {
  .col2left {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    max-width:90vw;
    max-height:90vw;
    width: 30%;
    padding-left: 10%;
  }
  .col2right {
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    margin-top: 5%;
  }
  .aboutcard {
    margin-top: 10%;
    float: left;
    font-size:auto;
  }
}

.onecol{
    margin-left: 25%;
    padding-top: 10%;
    align-content: center;
}

@media only screen and (max-width: 1200px) {
  .onecol {
    margin-left: 5%;
    margin-right: 5%;
  }
}

img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
}

iframe, video, source{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  outline: none;
}
video{
  margin-bottom: 2%
}

.padding {
	padding-bottom: 2%;
}    

.overlay-cover {
    	-webkit-filter: brightness(100%);
    	-webkit-transition: brightness .3s ease;
}

.overlay-cover:hover {
    background-color: #000000;
    opacity: 0.7; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
  bottom: 0;
  margin-top: 2%;
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

#myImg {
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2%;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  margin: auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  height: 100%; 
  width: 100%; 
  object-fit: contain;
  background-size:cover;
}

.piccontainer {
  margin: auto;
  float: left;
  overflow: hidden;
}

#caption {
  display: block;
  width: 100%;
  text-align: center;
  color: #ccc;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 2px 2px 5px black;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}